body {
    /* background-color: blue; */
}

h1 {
    /* color: antiquewhite; */
    
}

#doggie {
    max-width: 200px;
    position: absolute;
    /* left: 100px;
    bottom: 0px; */
}

/* #bone {
} */

/* #dogDropDown {
    position:sticky;
} */

.ui {
    position:sticky;
}

.boneExplode{
    position: absolute;
}

.dogCard{
    background-color: orange;
    width: 8rem;
    border-radius: 7px;
    font-size: medium;
    padding: 3px;
}

body {
background-image: url("images/bg.png");
}