body {
    /* background-color: blue; */
}

h1 {
    /* color: antiquewhite; */
    
}

h4 {
    font-size: smaller;
}

#doggie {
    max-width: 200px;
    position: absolute;
    /* left: 0px;
    bottom: 0px; */
}

/* #bone {
} */

/* #dogDropDown {
    position:sticky;
} */

.ui {
    position:sticky;
}

.boneExplode{
    position: absolute;
}

.dogCard{
    /* display: flex; */
    background-color: orange;
    width: 8rem;
    /* border: 10px; */
    border-radius: 7px;
    font-size: medium;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    padding-top: 1px;
    margin: 10px;
}

body {
background-image: url("images/bg.png");
}

.dogCardImg {
    max-width: 50px;
}

#dogsAvailable {
    display: flex;
}