body {
    /* background-color: blue; */
}

h1 {
    /* color: antiquewhite; */
    
}

#doggie {
    max-width: 200px;
    position: absolute;
}

/* #bone {
} */

/* #dogDropDown {
    position:sticky;
} */

.ui {
    position:sticky;
}

.boneExplode{
    position: absolute;
}